<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608233966119-hkufpe1tpucsuteo42089ao8lj93rpu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608233966119-hkufpe1tpucsuteo42089ao8lj93rpu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLvY9VdFei4__R3h68D2SLWzXVT2pRyGM</string>
	<key>GCM_SENDER_ID</key>
	<string>608233966119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-a1cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-a1cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608233966119:ios:9ebe5ef8bd91e15c671c02</string>
</dict>
</plist>